:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
    
}

.titulo span {
    font-size: 2rem;

}

.container {
    width: 120rem;
    margin: 0 auto;

}
.nav-bg {
    background-color: var(--secundario);
}
.main-nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;

}
.main-nav a {
    color: var(--blanco);
    text-decoration: none;
}

.main-nav a:hover {
    background-color: var(--primario );
}
